<div id="comment-form">
<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.label :comment_text, "Текст комментария" %>
    <%= f.text_area :comment_text, rows: 5, cols: 20 %>
  </div>
  <%= f.hidden_field :university_id, value: @university.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Опубликовать" %>
<% end %>
</div>
