<%= form_tag(start_test_name_path, :method => 'get', :class => 'form') do %>
<fieldset> 
<% @question.each do |q| %>
  <p class="testing"><%= q.title %></p>
  <div class="controls testing">
  <label class="radio">
  <%= radio_button_tag q.id, q.variant_1, params[:fail] %>
  <%= label_tag q.variant_1 %>
  </label>
  
  <label class="radio">
  <%= radio_button_tag q.id, q.variant_2, params[:fail] %>
  <%= label_tag q.variant_2 %>
  </label>
  
  <label class="radio">
  <%= radio_button_tag q.id, q.variant_3, params[:fail] %>
  <%= label_tag q.variant_3 %>
  </label>
  
  <label class="radio">
  <%= radio_button_tag q.id, q.variant_4, params[:fail] %>
  <%= label_tag q.variant_4 %>
  </label>
  
  <label class="radio">
  <%= radio_button_tag q.id, q.correct, params[:correct] %>
  <%= label_tag q.correct %>
  </label>
  </div><br />
<% end %>
  <%= submit_tag "Закончить" %>
  </fieldset>
<% end %>
