<div id="test-online">
<%= form_tag(start_test_name_path, :method => 'get')   do |f| %>
      <div id="question-part">
        <%= render "#{@test.current_step}_step", :f => f %>
          <%= submit_tag "Предыдущий", :name => "back_button" unless @test.first_step? %>
          <%= submit_tag "Следующий" %> 
      </div>
      
      <%= submit_tag "Закончить", :class=> 'btn' %>    
<% end %>
</div>
