<% flash.each do |name, msg| %>
  <%= msg %>
<% end %>
<div id="registration">
<%= form_for(@user, :id => "signup") do |f| %>
  
  <div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
  </div>
  
  <div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>
  
  <div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
</div>
