<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Название</th>
      <th>Шифр</th>
      <th>Описание</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
  <% @specialities.each do |s| %>
    <tr>
      <td><%= s.name %></td>
      <td><%=  %></td>
      <td><%= s.description %></td>
      <td>
        <%= link_to edit_icon, edit_admin_speciality_path(s) %>
        <%= link_to delete_icon, admin_speciality_path(s) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Добавить', new_admin_speciality_path, :class => 'btn' %>


  

