  <div id="menu">
    <ul id="example-one">
      <li class="current_page_item"><%= link_to 'Главная', root_path %></li>
      <li><%= link_to t('.about'), about_path  %></li>
      <li><%= link_to 'Тестирование', test_names_path %></li>
      <li><%= link_to 'ВУЗЫ', universities_path %></li>
      <li><%= link_to 'Специальности', specialities_path %></li>
      <li></li>
    </ul>
    <div id="search">
      <%= form_tag sessions_path do %>
        <%= text_field_tag :q, nil, :placeholder => "Поиск ..." %>
        <%= submit_tag "", :id => 'submit-search' %>
      <% end %>
    </div>
  </div>
