<div id="uni-show">
<h1 id="title"><%= @university.name %></h1>
<% unless @university.images.empty? %>
<ul id="slideshow">
  <% @img.each do |i| %>
  <li>
    <h3></h3>
    <% unless i.description.empty? %>
    <p><%= raw(i.description) %></p>  
    <% else %>
      <p></p>
    <% end %>
    <span><%=  i.photo.url(:medium) %></span>
    <%= image_tag i.photo.url(:thumb) %>
  </li>
  <% end %> 
</ul>

	<div id="wrapper">
		<div id="fullsize">
			<div id="imgprev" class="imgnav" title="Предыдущее фото"></div>
			<div id="imglink"></div>
			<div id="imgnext" class="imgnav" title="Следующее фото"></div>
			<div id="image"></div>
			<div id="information">
				<h3></h3>
				<p></p>
			</div>
		</div>
		<div id="thumbnails">
			<div id="slideleft" title="Влево"></div>
			<div id="slidearea">
				<div id="slider"></div>
			</div>
			<div id="slideright" title="Направо"></div>
		</div>
	</div>
<% else %>

<% end %>
<script type="text/javascript">
	$('slideshow').style.display='none';
	$('wrapper').style.display='block';
	var slideshow=new TINY.slideshow("slideshow");
	window.onload=function(){
		slideshow.auto=true;
		slideshow.speed=3;
		slideshow.link="linkhover";
		slideshow.info="information";
		slideshow.thumbs="slider";
		slideshow.left="slideleft";
		slideshow.right="slideright";
		slideshow.scrollSpeed=4;
		slideshow.spacing=5;
		slideshow.active="#fff";
		slideshow.init("slideshow","image","imgprev","imgnext","imglink");
	}
</script>
  <div style="clear:both;"></div>
  <div class="idTabs">
    <ul>
      <li><a href="#item1">Описание</a></li>
      <li><a href="#item2">Специальности</a></li>
      <li><a href="#item3">Контакты</a></li>
    </ul>
    <div style="clear:both;"></div>
    <div class="items">
      <div id="item1">
        <%= raw(@university.description) %>
      </div>
      <div id="item2">
        <% @specialities.each do |item| %>
        <div id="university-specialities">
          <%= item.category.name %>
          <%= link_to item.name, speciality_path(item) %>
                  
        </div>
        <% end %>   
      </div>
      <div id="item3">
        <p><%= @university.address %></p>    
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div> 
<div style="clear:both;"></div>
<%= render 'rating' %>
<%= render :partial => 'comments/comments' %>
<% if user_has? %> 
<%= render :partial => 'comments/form' %>
<% else %>
<% end %>
