    <% if current_user %>
      <div id="current_user">
      <%= current_user.email %>
      <%= link_to 'Выйти', logout_path %>
      </div>
    <% else %>
    <div id="topnav"><span><%= link_to 'Регистрация', signup_path, :class => "signup" %></span><span><%= link_to 'Вход', login_path, :class => "login" %></span></div>       
      <fieldset id="login_menu">
        <%= form_tag(sessions_path, :id => "login") do %>
          <%= label_tag :email, "Email" %>
          <%= text_field_tag :email %>
  
          <%= label_tag :password, "пароль" %>
          <%= password_field_tag :password %>
  
          <%= submit_tag "Войти", :id => "login_submit" %>
          <%= image_tag('facebook_32.png') %>
          <%= image_tag('twitter_32.png') %>
        <% end %>
      </fieldset>
      
    <% end %>
