<!DOCTYPE html>
<html>
<head>
  <title>EducationWebsite</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <!--login-->
    <%= render  'layouts/login' %>  
    <!--end login-->
    
    <div id="page">
      <div style="clear:both;"></div>
      
      <!--top-->
      <div id="top">
        <div id="logo"><%= link_to image_tag('logo.png'), root_path  %></div>
        <div id="company_name">Сайт для абитуриентов</div>
      </div>
      <!--end top-->

      <!--   menu -->
      <%= render 'layouts/application/menu' %>
      <!-- end menu -->  

      <div id="contentwrap">
        <div style="clear:both;"></div>
        <div id="body_area">
          <%= yield %>
        </div>
        <div id="sidebar">
          <h3 id="social-title">Мы в ...</h3>
          <ul class="social">
            <li class="img"> <%= image_tag('facebook_32.png') %></li>
            <li class="img"><%= image_tag('twitter_32.png') %></li>
            <li class="img"><%= image_tag('google_32.png') %></li>
            <li class="img"><%= image_tag('github_32.png') %></li>
            <li class="img"><%= image_tag('myspace_32.png') %></li>
            <li class="img"><%= image_tag('basecamp_32.png') %></li>
          </ul>
        </div> 
        <div style="clear:both;"></div>
      </div>
  
      <!-- footer -->
      <%= render :partial => 'layouts/application/footer' %>
      <!-- end footer -->
    </div>
  </div>
</body>
</html>
