<!DOCTYPE html>
<html>
<head>
  <title>EducationWebsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <div id="page">
  <!--top-->
  <div id="top">
    <div id="logo"><%= link_to image_tag('logo.png'), root_path  %></div>
    <div id="company_name">Сайт для абитуриентов</div>
    <div id="search-box"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><input type="text" class="search-area"></td>
        <td width="10"><img src="/assets/spacer.gif" width="10" height="1" alt=""></td>
        <td width="72"><a href="#"><img src="/assets/btn_search.png" width="72" height="29" alt=""></a></td>
      </tr>
      </table>
    </div>

  </div>
  <!--end top-->
  <div id="menu">
    <table border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="11"><img src="/assets/ml.png" width="11" height="33" alt=""></td>
      <td class="item"><%= link_to 'Главная', root_path %></td>
      <td width="42"><img src="/assets/ms.png" width="42" height="33" alt=""></td>
      <td class="item"><%= link_to 'О нас', about_path %></td>
      <td width="42"><img src="/assets/ms.png" width="42" height="33" alt=""></td>
      <td class="item"><%= link_to 'Тестирование', test_names_path %></td>
      <td width="42"><img src="/assets/ms.png" width="42" height="33" alt=""></td>
      <td class="item"><%= link_to 'ссылка4', "#" %></td>
      <td width="42"><img src="/assets/ms.png" width="42" height="33" alt=""></td>
      <td class="item"><%= link_to 'ссылка5', "#"  %></td>
      <td width="42"><img src="/assets/ms.png" width="42" height="33" alt=""></td>
      <td class="item"><%= link_to 'ссылка6', "#" %></td>
      <td width="11"><img src="/assets/mr.png" width="11" height="33" alt=""></td>
    </tr>
    </table>
  </div>
  
  <div id="header">
    <div id="intro">Выпускной класс... Позади годы, проведенные в школе, впереди - взрослая жизнь. И для многих выпускников один из первых шагов в этой жизни - поступление в ВУЗ. Университеты, институты, академии - как выбрать из множества ВУЗов именно тот, который нужен тебе? На какую специальность поступать учиться? Но для поступления в ВУЗ недостаточно только желания ! Необходимо еще иметь достаточно высокий уровень знаний, позволяющий поступить в выбранный университет или академию. </div>


  </div>
  <div id="contentwrap">
    <div id="body_area">
      <%= yield %>
    </div> 
  </div>
</div>
</div>


<div id="footer">
	<div id="bottom_menu"><a href="#">Главная</a> |  <a href="#">О нас</a> |  <a href="#">Тестирование</a> |  <a href="#">ссылка4</a> |  <a href="#">ссылка5</a> |  <a href="#">ссылка6</a></div>
	<div id="bottom_addr">© 2012. All Rights Reserved</div>
</div>


</body>
</html>
