<!DOCTYPE html>
<html>
<head>
  <title>EducationWebsite</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">

  <!--login-->
  <%= render  'layouts/login' %>  
  <!--end login-->
  
  <div id="page">
  <!--top-->
  <div id="top">
    <div id="logo"><%= link_to image_tag('logo.png'), root_path  %></div>
    <div id="company_name">Сайт для абитуриентов</div>
  </div>
  <!--end top-->
  
  <div id="menu">
    <ul id="example-one">
      <li class="current_page_item"><%= link_to 'Главная', root_path %></li>
      <li><%= link_to 'О нас', about_path  %></li>
      <li><%= link_to 'Тестирование', test_names_path %></li>
      <li><%= link_to 'ВУЗЫ', universities_path %></li>
      <li></li>
    </ul>
    <div id="search">
      <%= form_tag sessions_path do %>
        <%= text_field_tag :q, nil, :placeholder => "Поиск ..." %>
        <%= submit_tag "", :id => 'submit-search' %>
      <% end %>
    </div>
  </div>
  
<!--   <div id="header">
  <div id="intro">Выпускной класс... Позади годы, проведенные в школе, впереди - взрослая жизнь. И для многих выпускников один из первых шагов в этой жизни - поступление в ВУЗ. Университеты, институты, академии - как выбрать из множества ВУЗов именно тот, который нужен тебе? На какую специальность поступать учиться? Но для поступления в ВУЗ недостаточно только желания ! Необходимо еще иметь достаточно высокий уровень знаний, позволяющий поступить в выбранный университет или академию. </div>

</div> -->
  <div id="contentwrap">
    <div id="body_area">
      <%= yield %>
    </div> 
  </div>
</div>
</div>


<div id="footer">
	<div id="bottom_menu"><a href="#">Главная</a> |  <a href="#">О нас</a> |  <a href="#">Тестирование</a> |  <a href="#">ссылка4</a> |  <a href="#">ссылка5</a> |  <a href="#">ссылка6</a></div>
	<div id="bottom_addr">© 2012. All Rights Reserved</div>
</div>


</body>
</html>
