<!DOCTYPE html>
<html>
<head>
  <title>EducationWebsite</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= ajaxful_rating_style %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <!--login-->
    <%= render  'layouts/login' %>  
    <!--end login-->
    
    <div id="page">
      <div class="clr"></div>
      
      <!--top-->
      <div id="top">
        
        <div id="company_name">Сайт для абитуриентов</div>
        <div id="locale">
        <%= link_to_unless_current "РУС", :locale => "ru" %>
        <%= link_to_unless_current "ҚАЗ", :locale => "kz"  %>
        </div>
      </div>
      <!--end top-->

      <!--   menu -->
      <%= render 'layouts/menu' %>
      <!-- end menu -->  

      <div id="contentwrap">
        <div class="clr"></div>
        <div id="body_area">
          <%= flash[:notice] %>
          <%= yield %>
          
        </div>
        <div id="sidebar">
          <h3 id="social-title">Мы в ...</h3>
          <ul class="social">
            <li class="img"><%=link_to image_tag('facebook_32.png'), "#" %></li>
            <li class="img"><%=link_to image_tag('twitter_32.png'), "#" %></li>
            <li class="img"><%=link_to image_tag('google_32.png'), "#" %></li>
            <li class="img"><%=link_to image_tag('github_32.png'), "#" %></li>
            <li class="img"><%=link_to image_tag('myspace_32.png'), "#" %></li>
            <li class="img"><%=link_to image_tag('basecamp_32.png'), "#" %></li>
          </ul>
          
          <div class="idTabs">
            <ul>
              <li><a href="#4">Cсылки</a></li>
              <li><a href="#5">Последнии комментарии</a></li>
            </ul>
            <div class="items">
              <div id="4"></div>
              <div id="5"><% @lastcom.each do |u| %>
                  <%= truncate(u.comment_text, length: 10) %> <br />
                <% end %></div>
            </div>
          </div>
          <div class="clr"></div>
        </div> 
        <div class="clr"></div>
      </div>
  
      <!-- footer -->
      <%= render :partial => 'layouts/footer' %>
      <!-- end footer -->
    </div>
  </div>
</body>
</html>
