<!DOCTYPE html>
<html>
<head>
  <title>EducationWebsite</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "testing" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="span12"><div id="exit"><%= link_to 'Выход', root_path %></div></div>
</div>
<div class="row">
  <div class="span12"><%= yield %></div>
</div>

</body>
</html>
