<!DOCTYPE html>
<html>
<head>
  <title>EducationWebsite</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    
  </div>
</div> -->
 <ul class="nav nav-pills pull-right">
  <li><%= link_to 'Профиль', user_path(current_user)  %></li>
  <li><%= link_to 'Cтатистика', reports_path %></li>
  <li class="active"><%= link_to 'Список тестов', test_names_path %></li>
  <li><%= link_to 'Выход', root_path  %></li>
</ul>

<div class="row">
  
  <div class="span12"><%= flash_msg(flash[:notice]) %><%= yield %></div>
</div>

</body>
</html>
